In [1]:
import pandas as pd

In [2]:
# Initialize an empty DataFrame to collect chunks
df_chunks = []

# Load the data in chunks
for chunk in pd.read_csv('combined_data.csv', chunksize=2000):
    df_chunks.append(chunk)

# Concatenate all chunks into a single DataFrame
df = pd.concat(df_chunks, ignore_index=True)

print(df.shape)

(5573130, 18)

In [3]:
print(df.head())

   Gender                           Race VeteranStatus    DisabilityStatus  \
0  Female  American Indian/Alaska Native   Not Veteran  Without Disability
1  Female  American Indian/Alaska Native   Not Veteran  Without Disability
2  Female  American Indian/Alaska Native   Not Veteran  Without Disability
3  Female  American Indian/Alaska Native   Not Veteran  Without Disability
4  Female                          Asian   Not Veteran  Without Disability

  EmploymentStatus          IndustrySector OccupancyStatus    MortgageStatus  \
0         Employed  Arts and Entertainment  Owner-occupied     With Mortgage
1         Employed           Manufacturing  Owner-occupied     With Mortgage
2         Employed          Other Services  Owner-occupied     With Mortgage
3         Employed   Public Administration  Owner-occupied  Without Mortgage
4         Employed             Agriculture  Owner-occupied     With Mortgage

  TotalHouseholdIncome         HealthCoverage  \
0      $75,000-$99,999  With Health Insurance
1      $75,000-$99,999  With Health Insurance
2    $100,000-$149,999  With Health Insurance
3    $100,000-$149,999  With Health Insurance
4      $50,000-$74,999  With Health Insurance

             HighestEducationLevel  Count          State LeadingParty  \
0          Some college, no degree      1  Massachusetts     Democrat
1  Graduate or professional degree      1  Massachusetts     Democrat
2  Graduate or professional degree      1  Massachusetts     Democrat
3          Some college, no degree      1  Massachusetts     Democrat
4             High school graduate      1  Massachusetts     Democrat

   LeadSum    LeadAvg TargetParty  TargetVotes
0      314  24.153846  Democratic   13565788.0
1      314  24.153846  Democratic   13565788.0
2      314  24.153846  Democratic   13565788.0
3      314  24.153846  Democratic   13565788.0
4      314  24.153846  Democratic   13565788.0

In [4]:
print("Columns in the DataFrame:", df.columns)

Columns in the DataFrame: Index(['Gender', 'Race', 'VeteranStatus', 'DisabilityStatus',
       'EmploymentStatus', 'IndustrySector', 'OccupancyStatus',
       'MortgageStatus', 'TotalHouseholdIncome', 'HealthCoverage',
       'HighestEducationLevel', 'Count', 'State', 'LeadingParty', 'LeadSum',
       'LeadAvg', 'TargetParty', 'TargetVotes'],
      dtype='object')

In [5]:
print("Number of null values in each column:")
print(df.isnull().sum())

Number of null values in each column:
Gender                   0
Race                     0
VeteranStatus            0
DisabilityStatus         0
EmploymentStatus         0
IndustrySector           0
OccupancyStatus          0
MortgageStatus           0
TotalHouseholdIncome     0
HealthCoverage           0
HighestEducationLevel    0
Count                    0
State                    0
LeadingParty             0
LeadSum                  0
LeadAvg                  0
TargetParty              0
TargetVotes              0
dtype: int64

In [6]:
print("Descriptive statistics:")
print(df.describe(include='all'))  # Include all columns (numerical and categorical)

Descriptive statistics:
         Gender     Race VeteranStatus    DisabilityStatus EmploymentStatus  \
count   5573130  5573130       5573130             5573130          5573130
unique        2        7             1                   1                1
top      Female    White   Not Veteran  Without Disability         Employed
freq    2806378  3506340       5573130             5573130          5573130
mean        NaN      NaN           NaN                 NaN              NaN
std         NaN      NaN           NaN                 NaN              NaN
min         NaN      NaN           NaN                 NaN              NaN
25%         NaN      NaN           NaN                 NaN              NaN
50%         NaN      NaN           NaN                 NaN              NaN
75%         NaN      NaN           NaN                 NaN              NaN
max         NaN      NaN           NaN                 NaN              NaN

                  IndustrySector OccupancyStatus MortgageStatus  \
count                    5573130         5573130        5573130
unique                        13               1              2
top     Education and Healthcare  Owner-occupied  With Mortgage
freq                      954905         5573130        3159786
mean                         NaN             NaN            NaN
std                          NaN             NaN            NaN
min                          NaN             NaN            NaN
25%                          NaN             NaN            NaN
50%                          NaN             NaN            NaN
75%                          NaN             NaN            NaN
max                          NaN             NaN            NaN

       TotalHouseholdIncome         HealthCoverage HighestEducationLevel  \
count               5573130                5573130               5573130
unique                   10                      2                     7
top         $50,000-$74,999  With Health Insurance  High school graduate
freq                 961630                5315063               1423864
mean                    NaN                    NaN                   NaN
std                     NaN                    NaN                   NaN
min                     NaN                    NaN                   NaN
25%                     NaN                    NaN                   NaN
50%                     NaN                    NaN                   NaN
75%                     NaN                    NaN                   NaN
max                     NaN                    NaN                   NaN

               Count     State LeadingParty       LeadSum       LeadAvg  \
count   5.573130e+06   5573130      5573130  5.573130e+06  5.573130e+06
unique           NaN        10            2           NaN           NaN
top              NaN  Michigan   Republican           NaN           NaN
freq             NaN   1499372      3214820           NaN           NaN
mean    1.572970e+00       NaN          NaN  2.989757e+02  1.206639e+01
std     1.520367e+00       NaN          NaN  1.944649e+02  8.377576e+00
min     1.000000e+00       NaN          NaN  1.300000e+01  3.103261e+00
25%     1.000000e+00       NaN          NaN  1.250000e+02  3.103261e+00
50%     1.000000e+00       NaN          NaN  3.140000e+02  1.244444e+01
75%     2.000000e+00       NaN          NaN  5.710000e+02  2.415385e+01
max     1.510000e+02       NaN          NaN  5.710000e+02  2.415385e+01

       TargetParty   TargetVotes
count      5573130  5.573130e+06
unique           2           NaN
top     Democratic           NaN
freq       3123790           NaN
mean           NaN  1.031327e+07
std            NaN  4.293264e+06
min            NaN  2.440010e+05
25%            NaN  5.964602e+06
50%            NaN  1.356579e+07
75%            NaN  1.407662e+07
max            NaN  1.407662e+07

In [7]:
import pandas as pd

# Assuming df is your DataFrame
def check_duplicates(df):
    # Count the number of duplicate rows
    num_duplicates = df.duplicated().sum()
    
    # Calculate the percentage of duplicate rows
    percentage_duplicates = (num_duplicates / len(df)) * 100
    
    # Print the results
    print(f"Number of duplicate rows: {num_duplicates}")
    print(f"Percentage of duplicate rows: {percentage_duplicates:.2f}%")
    
# Call the function
check_duplicates(df)

Number of duplicate rows: 5298935
Percentage of duplicate rows: 95.08%

In [8]:
# Initialize an empty DataFrame to collect chunks
df_chunks = []

# Load the data in chunks
for chunk in pd.read_csv('combined_data2.csv', chunksize=2000):
    df_chunks.append(chunk)

# Concatenate all chunks into a single DataFrame
df2 = pd.concat(df_chunks, ignore_index=True)

print(df2.shape)

(14810144, 18)

In [9]:
print(df2.head())

   Gender                           Race VeteranStatus    DisabilityStatus  \
0  Female  American Indian/Alaska Native   Not Veteran  Without Disability
1  Female  American Indian/Alaska Native   Not Veteran  Without Disability
2  Female  American Indian/Alaska Native   Not Veteran  Without Disability
3  Female  American Indian/Alaska Native   Not Veteran  Without Disability
4  Female  American Indian/Alaska Native   Not Veteran  Without Disability

  EmploymentStatus            IndustrySector OccupancyStatus  \
0         Employed              Construction  Owner-occupied
1         Employed  Education and Healthcare  Owner-occupied
2         Employed  Education and Healthcare  Owner-occupied
3         Employed  Education and Healthcare  Owner-occupied
4         Employed             Manufacturing  Owner-occupied

     MortgageStatus TotalHouseholdIncome         HealthCoverage  \
0  Without Mortgage      $25,000-$34,999  With Health Insurance
1     With Mortgage      $35,000-$49,999  With Health Insurance
2     With Mortgage      $75,000-$99,999  With Health Insurance
3     With Mortgage    Less than $10,000  With Health Insurance
4     With Mortgage    $100,000-$149,999  With Health Insurance

     HighestEducationLevel  Count    State LeadingParty  LeadSum  LeadAvg  \
0     High school graduate      1  Alabama   Republican       63     21.0
1  Some college, no degree      1  Alabama   Republican       63     21.0
2  Some college, no degree      1  Alabama   Republican       63     21.0
3     High school graduate      1  Alabama   Republican       63     21.0
4     High school graduate      1  Alabama   Republican       63     21.0

  TargetParty  TargetVotes
0  Republican   10680498.0
1  Republican   10680498.0
2  Republican   10680498.0
3  Republican   10680498.0
4  Republican   10680498.0

In [10]:
print("Columns in the DataFrame:", df2.columns)

Columns in the DataFrame: Index(['Gender', 'Race', 'VeteranStatus', 'DisabilityStatus',
       'EmploymentStatus', 'IndustrySector', 'OccupancyStatus',
       'MortgageStatus', 'TotalHouseholdIncome', 'HealthCoverage',
       'HighestEducationLevel', 'Count', 'State', 'LeadingParty', 'LeadSum',
       'LeadAvg', 'TargetParty', 'TargetVotes'],
      dtype='object')

In [11]:
print("Number of null values in each column:")
print(df2.isnull().sum())

Number of null values in each column:
Gender                   0
Race                     0
VeteranStatus            0
DisabilityStatus         0
EmploymentStatus         0
IndustrySector           0
OccupancyStatus          0
MortgageStatus           0
TotalHouseholdIncome     0
HealthCoverage           0
HighestEducationLevel    0
Count                    0
State                    0
LeadingParty             0
LeadSum                  0
LeadAvg                  0
TargetParty              0
TargetVotes              0
dtype: int64

In [12]:
print("Descriptive statistics:")
print(df2.describe(include='all'))  # Include all columns (numerical and categorical)

Descriptive statistics:
          Gender      Race VeteranStatus    DisabilityStatus EmploymentStatus  \
count   14810144  14810144      14810144            14810144         14810144
unique         2         7             1                   1                1
top       Female     White   Not Veteran  Without Disability         Employed
freq     7432116   6523374      14810144            14810144         14810144
mean         NaN       NaN           NaN                 NaN              NaN
std          NaN       NaN           NaN                 NaN              NaN
min          NaN       NaN           NaN                 NaN              NaN
25%          NaN       NaN           NaN                 NaN              NaN
50%          NaN       NaN           NaN                 NaN              NaN
75%          NaN       NaN           NaN                 NaN              NaN
max          NaN       NaN           NaN                 NaN              NaN

                  IndustrySector OccupancyStatus MortgageStatus  \
count                   14810144        14810144       14810144
unique                        13               1              2
top     Education and Healthcare  Owner-occupied  With Mortgage
freq                     2817892        14810144        9156278
mean                         NaN             NaN            NaN
std                          NaN             NaN            NaN
min                          NaN             NaN            NaN
25%                          NaN             NaN            NaN
50%                          NaN             NaN            NaN
75%                          NaN             NaN            NaN
max                          NaN             NaN            NaN

       TotalHouseholdIncome         HealthCoverage HighestEducationLevel  \
count              14810144               14810144              14810144
unique                   10                      2                     7
top        $200,000 or more  With Health Insurance  High school graduate
freq                3316009               14243951               3517266
mean                    NaN                    NaN                   NaN
std                     NaN                    NaN                   NaN
min                     NaN                    NaN                   NaN
25%                     NaN                    NaN                   NaN
50%                     NaN                    NaN                   NaN
75%                     NaN                    NaN                   NaN
max                     NaN                    NaN                   NaN

               Count       State LeadingParty       LeadSum       LeadAvg  \
count   1.481014e+07    14810144     14810144  1.481014e+07  1.481014e+07
unique           NaN          10            2           NaN           NaN
top              NaN  California     Democrat           NaN           NaN
freq             NaN     7676678     10184488           NaN           NaN
mean    1.278726e+00         NaN          NaN  5.113630e+02  1.601956e+01
std     8.432162e-01         NaN          NaN  3.339559e+02  6.583378e+00
min     1.000000e+00         NaN          NaN  1.800000e+01  4.166667e+00
25%     1.000000e+00         NaN          NaN  8.500000e+01  9.000000e+00
50%     1.000000e+00         NaN          NaN  7.730000e+02  2.089189e+01
75%     1.000000e+00         NaN          NaN  7.730000e+02  2.089189e+01
max     1.100000e+02         NaN          NaN  7.730000e+02  2.100000e+01

       TargetParty   TargetVotes
count     14810144  1.481014e+07
unique           2           NaN
top     Democratic           NaN
freq       8557728           NaN
mean           NaN  9.597668e+07
std            NaN  8.456802e+07
min            NaN  8.245490e+05
25%            NaN  8.898921e+06
50%            NaN  1.773909e+08
75%            NaN  1.773909e+08
max            NaN  1.773909e+08

In [13]:
import pandas as pd

# Assuming df is your DataFrame
def check_duplicates(df2):
    # Count the number of duplicate rows
    num_duplicates = df2.duplicated().sum()
    
    # Calculate the percentage of duplicate rows
    percentage_duplicates = (num_duplicates / len(df2)) * 100
    
    # Print the results
    print(f"Number of duplicate rows: {num_duplicates}")
    print(f"Percentage of duplicate rows: {percentage_duplicates:.2f}%")
    
# Call the function
check_duplicates(df2)

Number of duplicate rows: 14519792
Percentage of duplicate rows: 98.04%

In [14]:
# Initialize an empty DataFrame to collect chunks
df_chunks = []

# Load the data in chunks
for chunk in pd.read_csv('combined_data3.csv', chunksize=2000):
    df_chunks.append(chunk)

# Concatenate all chunks into a single DataFrame
df3 = pd.concat(df_chunks, ignore_index=True)

print(df3.shape)

(11540078, 18)

In [15]:
print(df3.head())

   Gender                           Race VeteranStatus    DisabilityStatus  \
0  Female  American Indian/Alaska Native   Not Veteran  Without Disability
1  Female  American Indian/Alaska Native   Not Veteran  Without Disability
2  Female  American Indian/Alaska Native   Not Veteran  Without Disability
3  Female  American Indian/Alaska Native   Not Veteran  Without Disability
4  Female  American Indian/Alaska Native   Not Veteran  Without Disability

  EmploymentStatus IndustrySector OccupancyStatus MortgageStatus  \
0         Employed    Agriculture  Owner-occupied  With Mortgage
1         Employed    Agriculture  Owner-occupied  With Mortgage
2         Employed    Agriculture  Owner-occupied  With Mortgage
3         Employed    Agriculture  Owner-occupied  With Mortgage
4         Employed    Agriculture  Owner-occupied  With Mortgage

  TotalHouseholdIncome         HealthCoverage    HighestEducationLevel  Count  \
0    $100,000-$149,999  With Health Insurance     High school graduate      1
1      $35,000-$49,999    No Health Insurance     High school graduate      2
2      $50,000-$74,999  With Health Insurance     High school graduate      1
3      $50,000-$74,999  With Health Insurance  Some college, no degree      1
4      $75,000-$99,999  With Health Insurance       Associate's degree      1

       State LeadingParty  LeadSum   LeadAvg TargetParty  TargetVotes
0  NewMexico     Democrat       71  6.454545  Democratic    7747612.0
1  NewMexico     Democrat       71  6.454545  Democratic    7747612.0
2  NewMexico     Democrat       71  6.454545  Democratic    7747612.0
3  NewMexico     Democrat       71  6.454545  Democratic    7747612.0
4  NewMexico     Democrat       71  6.454545  Democratic    7747612.0

In [16]:
print("Columns in the DataFrame:", df3.columns)

Columns in the DataFrame: Index(['Gender', 'Race', 'VeteranStatus', 'DisabilityStatus',
       'EmploymentStatus', 'IndustrySector', 'OccupancyStatus',
       'MortgageStatus', 'TotalHouseholdIncome', 'HealthCoverage',
       'HighestEducationLevel', 'Count', 'State', 'LeadingParty', 'LeadSum',
       'LeadAvg', 'TargetParty', 'TargetVotes'],
      dtype='object')

In [17]:
print("Number of null values in each column:")
print(df3.isnull().sum())

Number of null values in each column:
Gender                   0
Race                     0
VeteranStatus            0
DisabilityStatus         0
EmploymentStatus         0
IndustrySector           0
OccupancyStatus          0
MortgageStatus           0
TotalHouseholdIncome     0
HealthCoverage           0
HighestEducationLevel    0
Count                    0
State                    0
LeadingParty             0
LeadSum                  0
LeadAvg                  0
TargetParty              0
TargetVotes              0
dtype: int64

In [18]:
print("Descriptive statistics:")
print(df3.describe(include='all'))  # Include all columns (numerical and categorical)

Descriptive statistics:
          Gender      Race VeteranStatus    DisabilityStatus EmploymentStatus  \
count   11540078  11540078      11540078            11540078         11540078
unique         2         7             1                   1                1
top       Female     White   Not Veteran  Without Disability         Employed
freq     5844499   6856494      11540078            11540078         11540078
mean         NaN       NaN           NaN                 NaN              NaN
std          NaN       NaN           NaN                 NaN              NaN
min          NaN       NaN           NaN                 NaN              NaN
25%          NaN       NaN           NaN                 NaN              NaN
50%          NaN       NaN           NaN                 NaN              NaN
75%          NaN       NaN           NaN                 NaN              NaN
max          NaN       NaN           NaN                 NaN              NaN

                  IndustrySector OccupancyStatus MortgageStatus  \
count                   11540078        11540078       11540078
unique                        13               1              2
top     Education and Healthcare  Owner-occupied  With Mortgage
freq                     2327153        11540078        6421837
mean                         NaN             NaN            NaN
std                          NaN             NaN            NaN
min                          NaN             NaN            NaN
25%                          NaN             NaN            NaN
50%                          NaN             NaN            NaN
75%                          NaN             NaN            NaN
max                          NaN             NaN            NaN

       TotalHouseholdIncome         HealthCoverage HighestEducationLevel  \
count              11540078               11540078              11540078
unique                   10                      2                     7
top         $50,000-$74,999  With Health Insurance  High school graduate
freq                2026902               11054679               3191026
mean                    NaN                    NaN                   NaN
std                     NaN                    NaN                   NaN
min                     NaN                    NaN                   NaN
25%                     NaN                    NaN                   NaN
50%                     NaN                    NaN                   NaN
75%                     NaN                    NaN                   NaN
max                     NaN                    NaN                   NaN

               Count     State LeadingParty       LeadSum       LeadAvg  \
count   1.154008e+07  11540078     11540078  1.154008e+07  1.154008e+07
unique           NaN        10            2           NaN           NaN
top              NaN   NewYork   Republican           NaN           NaN
freq             NaN   2319742      8236356           NaN           NaN
mean    1.412821e+00       NaN          NaN  3.344234e+02  1.031774e+01
std     9.977802e-01       NaN          NaN  2.323816e+02  5.902021e+00
min     1.000000e+00       NaN          NaN  3.300000e+01  3.394231e+00
25%     1.000000e+00       NaN          NaN  1.140000e+02  3.966443e+00
50%     1.000000e+00       NaN          NaN  2.490000e+02  9.228571e+00
75%     1.000000e+00       NaN          NaN  5.910000e+02  1.245000e+01
max     2.300000e+01       NaN          NaN  7.060000e+02  2.280000e+01

       TargetParty   TargetVotes
count     11540078  1.154008e+07
unique           2           NaN
top     Republican           NaN
freq       6409706           NaN
mean           NaN  8.393953e+06
std            NaN  5.414415e+06
min            NaN  1.839474e+06
25%            NaN  4.319677e+06
50%            NaN  5.435118e+06
75%            NaN  1.298067e+07
max            NaN  1.792966e+07

In [19]:
import pandas as pd

# Assuming df is your DataFrame
def check_duplicates(df3):
    # Count the number of duplicate rows
    num_duplicates = df3.duplicated().sum()
    
    # Calculate the percentage of duplicate rows
    percentage_duplicates = (num_duplicates / len(df3)) * 100
    
    # Print the results
    print(f"Number of duplicate rows: {num_duplicates}")
    print(f"Percentage of duplicate rows: {percentage_duplicates:.2f}%")
    
# Call the function
check_duplicates(df3)

Number of duplicate rows: 11150821
Percentage of duplicate rows: 96.63%

In [20]:
# Initialize an empty DataFrame to collect chunks
df_chunks = []

# Load the data in chunks
for chunk in pd.read_csv('combined_data4.csv', chunksize=2000):
    df_chunks.append(chunk)

# Concatenate all chunks into a single DataFrame
df4 = pd.concat(df_chunks, ignore_index=True)

print(df4.shape)

(8549248, 18)

In [21]:
print(df4.head())

   Gender                           Race VeteranStatus    DisabilityStatus  \
0  Female  American Indian/Alaska Native   Not Veteran  Without Disability
1  Female  American Indian/Alaska Native   Not Veteran  Without Disability
2  Female  American Indian/Alaska Native   Not Veteran  Without Disability
3  Female  American Indian/Alaska Native   Not Veteran  Without Disability
4  Female  American Indian/Alaska Native   Not Veteran  Without Disability

  EmploymentStatus IndustrySector OccupancyStatus MortgageStatus  \
0         Employed    Agriculture  Owner-occupied  With Mortgage
1         Employed    Agriculture  Owner-occupied  With Mortgage
2         Employed    Agriculture  Owner-occupied  With Mortgage
3         Employed    Agriculture  Owner-occupied  With Mortgage
4         Employed    Agriculture  Owner-occupied  With Mortgage

  TotalHouseholdIncome         HealthCoverage    HighestEducationLevel  Count  \
0    $150,000-$199,999  With Health Insurance     High school graduate      1
1     $200,000 or more  With Health Insurance        Bachelor's degree      1
2      $35,000-$49,999  With Health Insurance        Bachelor's degree      1
3      $50,000-$74,999  With Health Insurance     High school graduate      1
4      $50,000-$74,999  With Health Insurance  Some college, no degree      1

         State LeadingParty  LeadSum    LeadAvg TargetParty  TargetVotes
0  SouthDakota   Republican       61  20.333333  Republican    1781421.0
1  SouthDakota   Republican       61  20.333333  Republican    1781421.0
2  SouthDakota   Republican       61  20.333333  Republican    1781421.0
3  SouthDakota   Republican       61  20.333333  Republican    1781421.0
4  SouthDakota   Republican       61  20.333333  Republican    1781421.0

In [22]:
print("Columns in the DataFrame:", df4.columns)

Columns in the DataFrame: Index(['Gender', 'Race', 'VeteranStatus', 'DisabilityStatus',
       'EmploymentStatus', 'IndustrySector', 'OccupancyStatus',
       'MortgageStatus', 'TotalHouseholdIncome', 'HealthCoverage',
       'HighestEducationLevel', 'Count', 'State', 'LeadingParty', 'LeadSum',
       'LeadAvg', 'TargetParty', 'TargetVotes'],
      dtype='object')

In [23]:
print("Number of null values in each column:")
print(df4.isnull().sum())

Number of null values in each column:
Gender                   0
Race                     0
VeteranStatus            0
DisabilityStatus         0
EmploymentStatus         0
IndustrySector           0
OccupancyStatus          0
MortgageStatus           0
TotalHouseholdIncome     0
HealthCoverage           0
HighestEducationLevel    0
Count                    0
State                    0
LeadingParty             0
LeadSum                  0
LeadAvg                  0
TargetParty              0
TargetVotes              0
dtype: int64

In [24]:
print("Descriptive statistics:")
print(df4.describe(include='all'))  # Include all columns (numerical and categorical)

Descriptive statistics:
         Gender     Race VeteranStatus    DisabilityStatus EmploymentStatus  \
count   8549248  8549248       8549248             8549248          8549248
unique        2        7             1                   1                1
top      Female    White   Not Veteran  Without Disability         Employed
freq    4286689  4480220       8549248             8549248          8549248
mean        NaN      NaN           NaN                 NaN              NaN
std         NaN      NaN           NaN                 NaN              NaN
min         NaN      NaN           NaN                 NaN              NaN
25%         NaN      NaN           NaN                 NaN              NaN
50%         NaN      NaN           NaN                 NaN              NaN
75%         NaN      NaN           NaN                 NaN              NaN
max         NaN      NaN           NaN                 NaN              NaN

                  IndustrySector OccupancyStatus MortgageStatus  \
count                    8549248         8549248        8549248
unique                        13               1              2
top     Education and Healthcare  Owner-occupied  With Mortgage
freq                     1555948         8549248        4895117
mean                         NaN             NaN            NaN
std                          NaN             NaN            NaN
min                          NaN             NaN            NaN
25%                          NaN             NaN            NaN
50%                          NaN             NaN            NaN
75%                          NaN             NaN            NaN
max                          NaN             NaN            NaN

       TotalHouseholdIncome         HealthCoverage HighestEducationLevel  \
count               8549248                8549248               8549248
unique                   10                      2                     7
top         $50,000-$74,999  With Health Insurance  High school graduate
freq                1644766                8207164               2149040
mean                    NaN                    NaN                   NaN
std                     NaN                    NaN                   NaN
min                     NaN                    NaN                   NaN
25%                     NaN                    NaN                   NaN
50%                     NaN                    NaN                   NaN
75%                     NaN                    NaN                   NaN
max                     NaN                    NaN                   NaN

               Count    State LeadingParty       LeadSum       LeadAvg  \
count   8.549248e+06  8549248      8549248  8.549248e+06  8.549248e+06
unique           NaN       10            2           NaN           NaN
top              NaN    Texas   Republican           NaN           NaN
freq             NaN  3951495      5661700           NaN           NaN
mean    1.338586e+00      NaN          NaN  3.245779e+02  1.047326e+01
std     8.922245e-01      NaN          NaN  1.315407e+02  7.213158e+00
min     1.000000e+00      NaN          NaN  1.700000e+01  3.327273e+00
25%     1.000000e+00      NaN          NaN  2.370000e+02  7.518519e+00
50%     1.000000e+00      NaN          NaN  4.060000e+02  7.518519e+00
75%     1.000000e+00      NaN          NaN  4.060000e+02  1.108333e+01
max     3.300000e+01      NaN          NaN  5.490000e+02  2.940000e+01

       TargetParty   TargetVotes
count      8549248  8.549248e+06
unique           2           NaN
top     Republican           NaN
freq       7331475           NaN
mean           NaN  1.906803e+07
std            NaN  9.026104e+06
min            NaN  1.454434e+06
25%            NaN  1.070342e+07
50%            NaN  2.092637e+07
75%            NaN  2.092637e+07
max            NaN  3.474466e+07

In [25]:
import pandas as pd

# Assuming df is your DataFrame
def check_duplicates(df4):
    # Count the number of duplicate rows
    num_duplicates = df4.duplicated().sum()
    
    # Calculate the percentage of duplicate rows
    percentage_duplicates = (num_duplicates / len(df4)) * 100
    
    # Print the results
    print(f"Number of duplicate rows: {num_duplicates}")
    print(f"Percentage of duplicate rows: {percentage_duplicates:.2f}%")
    
# Call the function
check_duplicates(df4)

Number of duplicate rows: 8220699
Percentage of duplicate rows: 96.16%

In [26]:
# Initialize an empty DataFrame to collect chunks
df_chunks = []

# Load the data in chunks
for chunk in pd.read_csv('combined_data5.csv', chunksize=2000):
    df_chunks.append(chunk)

# Concatenate all chunks into a single DataFrame
df5 = pd.concat(df_chunks, ignore_index=True)

print(df5.shape)

(3025539, 18)

In [27]:
print(df5.head())

   Gender                           Race VeteranStatus    DisabilityStatus  \
0  Female  American Indian/Alaska Native   Not Veteran  Without Disability
1  Female                          Asian   Not Veteran  Without Disability
2  Female                          Asian   Not Veteran  Without Disability
3  Female                          Asian   Not Veteran  Without Disability
4  Female                          Asian   Not Veteran  Without Disability

  EmploymentStatus          IndustrySector OccupancyStatus MortgageStatus  \
0         Employed  Arts and Entertainment  Owner-occupied  With Mortgage
1         Employed             Agriculture  Owner-occupied  With Mortgage
2         Employed             Agriculture  Owner-occupied  With Mortgage
3         Employed             Agriculture  Owner-occupied  With Mortgage
4         Employed             Agriculture  Owner-occupied  With Mortgage

  TotalHouseholdIncome         HealthCoverage          HighestEducationLevel  \
0      $50,000-$74,999  With Health Insurance  9th to 12th grade, no diploma
1     $200,000 or more    No Health Insurance             Associate's degree
2     $200,000 or more  With Health Insurance        Some college, no degree
3      $25,000-$34,999  With Health Insurance              Bachelor's degree
4      $35,000-$49,999  With Health Insurance           High school graduate

   Count   State LeadingParty  LeadSum  LeadAvg TargetParty  TargetVotes
0      1  Hawaii     Democrat       27     13.5  Democratic    6975977.0
1      1  Hawaii     Democrat       27     13.5  Democratic    6975977.0
2      1  Hawaii     Democrat       27     13.5  Democratic    6975977.0
3      2  Hawaii     Democrat       27     13.5  Democratic    6975977.0
4      1  Hawaii     Democrat       27     13.5  Democratic    6975977.0

In [28]:
print("Columns in the DataFrame:", df5.columns)

Columns in the DataFrame: Index(['Gender', 'Race', 'VeteranStatus', 'DisabilityStatus',
       'EmploymentStatus', 'IndustrySector', 'OccupancyStatus',
       'MortgageStatus', 'TotalHouseholdIncome', 'HealthCoverage',
       'HighestEducationLevel', 'Count', 'State', 'LeadingParty', 'LeadSum',
       'LeadAvg', 'TargetParty', 'TargetVotes'],
      dtype='object')

In [29]:
print("Number of null values in each column:")
print(df5.isnull().sum())

Number of null values in each column:
Gender                   0
Race                     0
VeteranStatus            0
DisabilityStatus         0
EmploymentStatus         0
IndustrySector           0
OccupancyStatus          0
MortgageStatus           0
TotalHouseholdIncome     0
HealthCoverage           0
HighestEducationLevel    0
Count                    0
State                    0
LeadingParty             0
LeadSum                  0
LeadAvg                  0
TargetParty              0
TargetVotes              0
dtype: int64

In [30]:
print("Descriptive statistics:")
print(df5.describe(include='all'))  # Include all columns (numerical and categorical)

Descriptive statistics:
         Gender     Race VeteranStatus    DisabilityStatus EmploymentStatus  \
count   3025539  3025539       3025539             3025539          3025539
unique        2        7             1                   1                1
top      Female    White   Not Veteran  Without Disability         Employed
freq    1525933  1897218       3025539             3025539          3025539
mean        NaN      NaN           NaN                 NaN              NaN
std         NaN      NaN           NaN                 NaN              NaN
min         NaN      NaN           NaN                 NaN              NaN
25%         NaN      NaN           NaN                 NaN              NaN
50%         NaN      NaN           NaN                 NaN              NaN
75%         NaN      NaN           NaN                 NaN              NaN
max         NaN      NaN           NaN                 NaN              NaN

                  IndustrySector OccupancyStatus MortgageStatus  \
count                    3025539         3025539        3025539
unique                        13               1              2
top     Education and Healthcare  Owner-occupied  With Mortgage
freq                      544193         3025539        1774202
mean                         NaN             NaN            NaN
std                          NaN             NaN            NaN
min                          NaN             NaN            NaN
25%                          NaN             NaN            NaN
50%                          NaN             NaN            NaN
75%                          NaN             NaN            NaN
max                          NaN             NaN            NaN

       TotalHouseholdIncome         HealthCoverage HighestEducationLevel  \
count               3025539                3025539               3025539
unique                   10                      2                     7
top         $50,000-$74,999  With Health Insurance  High school graduate
freq                 527338                2884773                787948
mean                    NaN                    NaN                   NaN
std                     NaN                    NaN                   NaN
min                     NaN                    NaN                   NaN
25%                     NaN                    NaN                   NaN
50%                     NaN                    NaN                   NaN
75%                     NaN                    NaN                   NaN
max                     NaN                    NaN                   NaN

               Count     State LeadingParty       LeadSum       LeadAvg  \
count   3.025539e+06   3025539      3025539  3.025539e+06  3.025539e+06
unique           NaN        10            2           NaN           NaN
top              NaN  Maryland   Republican           NaN           NaN
freq             NaN    748800      1982557           NaN           NaN
mean    1.594848e+00       NaN          NaN  1.546763e+02  1.543696e+01
std     1.846854e+00       NaN          NaN  2.150998e+02  7.448859e+00
min     1.000000e+00       NaN          NaN  2.000000e+00  2.000000e+00
25%     1.000000e+00       NaN          NaN  1.600000e+01  1.028571e+01
50%     1.000000e+00       NaN          NaN  4.400000e+01  1.466667e+01
75%     2.000000e+00       NaN          NaN  9.400000e+01  2.200000e+01
max     9.600000e+01       NaN          NaN  5.280000e+02  2.514286e+01

       TargetParty   TargetVotes
count      3025539  3.025539e+06
unique           2           NaN
top     Republican           NaN
freq       1982557           NaN
mean           NaN  1.097309e+07
std            NaN  4.823794e+06
min            NaN  2.128961e+06
25%            NaN  6.860393e+06
50%            NaN  9.755742e+06
75%            NaN  1.394195e+07
max            NaN  1.825487e+07

In [31]:
import pandas as pd

# Assuming df is your DataFrame
def check_duplicates(df5):
    # Count the number of duplicate rows
    num_duplicates = df5.duplicated().sum()
    
    # Calculate the percentage of duplicate rows
    percentage_duplicates = (num_duplicates / len(df5)) * 100
    
    # Print the results
    print(f"Number of duplicate rows: {num_duplicates}")
    print(f"Percentage of duplicate rows: {percentage_duplicates:.2f}%")
    
# Call the function
check_duplicates(df5)

Number of duplicate rows: 2793762
Percentage of duplicate rows: 92.34%

In [32]:
print(df.shape, df2.shape, df3.shape, df4.shape, df5.shape)

(5573130, 18) (14810144, 18) (11540078, 18) (8549248, 18) (3025539, 18)

import pandas as pd

# Set a chunk size (adjust based on available memory)
chunksize = 20000000  # Adjust this value based on your memory capacity

# Create an empty CSV file with headers from one of the dataframes
df = pd.DataFrame()  # Assuming you have the first dataframe in memory
df.iloc[:0].to_csv('concatenated_data.csv', index=False)

# Concatenate each dataframe in chunks
for start in range(0, max(len(df), len(df2), len(df3), len(df4), len(df5)), chunksize):
    chunk_list = []
    
    # Append chunks for each dataframe
    if start < len(df):
        chunk1 = df.iloc[start:start + chunksize]  # Corrected from df1 to df
        print(f"Chunk from df shape: {chunk1.shape}")  # Optional: for debugging
        chunk_list.append(chunk1)
    if start < len(df2):
        chunk2 = df2.iloc[start:start + chunksize]
        print(f"Chunk from df2 shape: {chunk2.shape}")  # Optional: for debugging
        chunk_list.append(chunk2)
    if start < len(df3):
        chunk3 = df3.iloc[start:start + chunksize]
        print(f"Chunk from df3 shape: {chunk3.shape}")  # Optional: for debugging
        chunk_list.append(chunk3)
    if start < len(df4):
        chunk4 = df4.iloc[start:start + chunksize]
        print(f"Chunk from df4 shape: {chunk4.shape}")  # Optional: for debugging
        chunk_list.append(chunk4)
    if start < len(df5):
        chunk5 = df5.iloc[start:start + chunksize]
        print(f"Chunk from df5 shape: {chunk5.shape}")  # Optional: for debugging
        chunk_list.append(chunk5)
    
    # Concatenate vertically
    if chunk_list:  # Only concatenate if there are chunks to concatenate
        concatenated_chunk = pd.concat(chunk_list, ignore_index=True)
        print(f"Concatenated chunk shape: {concatenated_chunk.shape}")  # Optional: for debugging
        
        # Append to CSV file
        concatenated_chunk.to_csv('concatenated_data.csv', mode='a', header=False, index=False)

print("Concatenation complete!")
print(concatenated_chunk.shape)

In [35]:
# Concatenate all DataFrames vertically
all_data = pd.concat([df, df2, df3, df4, df5], ignore_index=True)

# Save to CSV
all_data.to_csv('all_data_concatenated.csv', index=False)

print("Concatenation complete! Total rows:", all_data.shape[0])

Concatenation complete! Total rows: 43498139